
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* header */
.header-container {
  background: #2b2b2b;
}
.title {
  color: white;
  margin: 10px 0 0 0;
  line-height: 100%;
}
nav {
  float: right;
  width: 320px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e44d26;
}
nav a:hover,
nav a:visited {
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
.flexloader-demo-links-title:hover {
  text-decoration: none;
}
.flexloader-demo-links {
  width: 300px;
  padding: 10px;
  color: #fff;
  background-color: #e44d26;
  position: absolute;
  top: 100%;
  left: 2px;
  display: none;
}
.flexloader-demo-link {
  display: block;
  cursor: pointer;
}
/* end header */

@media only screen and (max-width: 719px) {

  nav {
    float: none;
    width: 100%;
  }
  nav ul {
    float: none;
  }
  nav a {
    margin: 0;
    padding: 5%;
    margin: 0;
  }
  nav li {
    width: 100%;
    margin: 2%;
  }
  nav li:first-child a {
    margin-right: 0;
  }
  nav li:last-child a {
    margin-left: 0;
  }
}

@media only screen and (min-width: 720px) {

  .title {
    float: left;
  }


}

@media only screen and (min-width: 1188px) { /* 1080px + 10% for margins */

  .wrapper {
    width: 1080px;
    margin: 0 auto;
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
